.navbar {
  display: flex;
  align-items: center;
  padding: 0.7rem 0.5rem;
  padding-left: 0;
  justify-content: space-around;
  width: 88%;
}

.hamburger {
  font-size: 2.5rem;
  color: rgb(156, 156, 202);
}

.navbar__profile {
  width: 50px;
  position: absolute;
  right: 5px;
}

.navbar__search {
  width: 60%;
  height: 2.5rem;
  border: 1px solid gray;
  border-radius: 45px;
  padding-left: 1em;
}

.navbar__profile_icon {
  border-radius: 50%;
}

.mobile_menu {
  display: block;
  position: absolute;
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #434c9f;
  mix-blend-mode: normal;
  color: white;
  list-style: none;
  padding-top: 4rem;
  margin-top: 0;
  height: 100vh;
  width: 60%;
}

.menu_container {
  width: 90%;
}

.menu_item {
  display: block;
  margin: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

.close_button {
  position: absolute;
  width: 1.5em;
  right: 10%;
  top: 5%;
  color: #f7f2f2;
  z-index: 30000;
}
