.navbar {
  display: flex;
  align-items: center;
  padding: 0.7rem 0.5rem;
  padding-left: 0;
  justify-content: space-around;
  width: 88%;
}

.hamburger {
  font-size: 2.5rem;
  color: rgb(156, 156, 202);
}

.navbar__profile {
  width: 50px;
  position: absolute;
  right: 5px;
}

.navbar__search {
  width: 60%;
  height: 2.5rem;
  border: 1px solid gray;
  border-radius: 45px;
  padding-left: 1em;
}

.navbar__profile_icon {
  border-radius: 50%;
}
